@model Sp16_p3_g__1_.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Movie</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdultPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdultPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeniorPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeniorPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieSynopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieSynopsis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |  <a class="btn btn-warning" href="http://localhost:53449/MoviesRazor">Back</a>
        </div>
    }
</div>
